.jumbotron img{
	width: 100%;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.row{
    padding-top: 10px;
    padding-bottom: 10px;
}
#video {
    border: 1px solid black;
    width: 320px;
    height: 240px;
    padding: 1px 1px 1px 1px;
}

#photo {
    border: 1px solid black;
    width: 320px;
    height: 240px;
}

#canvas {
    display: none;
}

.camera {
    width: 340px;
}

.output {
    width: 340px;
}

#start {
    display: block;
    position: relative;
    background-color: #6a67ce;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
}

.contentarea {
    font-size: 16px;
    font-family: Arial;
    text-align: center;
}
